<h1><u><%= @post.title %></u></h1>
Made By: <%= @post.author.username %>
<br><br>
<%= @post.content %>

<% if current_user = @post.author %>
  <br>
  ----------------------
  <br>
  <%= link_to "Edit Post", edit_post_url(@post) %>
<% end %>
