<h1><u>All The Subforums</u></h1>

<ul>
  <% @subs.each do |sub| %>
    <li><%= link_to sub.title, sub_url(sub) %></li>
    <br>
  <% end %>
</ul>

---------------------
<br>
<%= link_to "Create a SubForum!", new_sub_url %>
<br>
<%= link_to "Make a Post!", new_post_url %>
